## [Start] Authorization Steps. **
$util.qr($ctx.stash.put("hasAuth", true))
#set( $isAuthorized = true )
#if( $util.authType() == "IAM Authorization" )
  #set( $adminRoles = ["us-west-2_GwDf5yzjT_Full-access/CognitoIdentityCredentials","us-west-2_GwDf5yzjT_Manage-only/CognitoIdentityCredentials","conversationEvents-dev","deleteUserData-dev","eventNotifications-dev","friendNotifications-dev","likeNotifications-dev","onChallengeUpdate-dev","postNotifications-dev","reportNotification-dev"] )
  #foreach( $adminRole in $adminRoles )
    #if( $ctx.identity.userArn.contains($adminRole) && $ctx.identity.userArn != $ctx.stash.authRole && $ctx.identity.userArn != $ctx.stash.unauthRole )
      #return($util.toJson({}))
    #end
  #end
##$util.unauthorized()
#end
#if( $util.authType() == "User Pool Authorization" )

#end
#if( !$isAuthorized )
##$util.unauthorized()
#end
$util.toJson({"version":"2018-05-29","payload":{}})
## [End] Authorization Steps. **