#set($authordata = [])
#foreach($item in ${ctx.args.posts})
    $util.qr($authordata.add($util.dynamodb.toMapValues($item)))
#end

{
    "version" : "2018-05-29",
    "operation" : "BatchGetItem",
    "tables" : {
        "Post-4lwfnmtnpvb55mcushmhexhjgu-dev": {
			"keys": $utils.toJson($authordata)
		}
    }
}