#set( $userId = $context.identity.sub )
#set($likesdata = [])
#foreach($item in ${ctx.args.likes})
	$util.qr($item.put("userId", $util.defaultIfNull($item.userId, $userId)))
    $util.qr($likesdata.add($util.dynamodb.toMapValues($item)))
#end

{
    "version" : "2018-05-29",
    "operation" : "BatchGetItem",
    "tables" : {
        "Like-4lwfnmtnpvb55mcushmhexhjgu-dev": {
			"keys": $utils.toJson($likesdata)
		}
    }
}